{% extends 'base.html' %}

{% block title %}Crear Curso{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Crear Curso</h2>
    <form method="post">
        {% csrf_token %}
        
        <!-- Errores generales -->
        {{ form.non_field_errors }}
        
        <!-- Campo nombre -->
        <div class="form-group mb-3">
            <label for="id_nombre">Nombre:</label>
            {{ form.nombre.errors }}
            {{ form.nombre }}
        </div>

        <!-- Campo sala -->
        <div class="form-group mb-3">
            <label for="id_sala">Sala:</label>
            {{ form.sala.errors }}
            {{ form.sala }}
        </div>

        <!-- Botón de crear -->
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-right: 10px;">Crear</button>
            <!-- Botón para regresar a la lista de cursos -->
            <a href="{% url 'curso:lista_cursos' %}" class="btn btn-secondary btn-lg btn-block mt-3">
            Volver
            </a>
        </div>
    </form>

</div>
{% endblock %}
