{% extends 'base.html' %}

{% block title %}Editar Curso{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Editar Curso</h2>
    
    <div class="card shadow-sm p-4 rounded">
        <form method="post">
            {% csrf_token %}
            
            <!-- Mensajes de error no asociados a campos específicos -->
            <div class="mb-4">
                {{ form.non_field_errors }}
            </div>

            <div class="form-group mb-3">
                <label for="id_nombre" class="h5">Nombre:</label>
                {{ form.nombre.errors }}
                <div class="input-group">
                    {{ form.nombre }}
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="id_sala" class="h5">Sala:</label>
                {{ form.sala.errors }}
                <div class="input-group">
                    {{ form.sala }}
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
