{% extends 'base.html' %}

{% block title %}Cursos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Cursos</h2>
    {% if request.user.is_authenticated %}
        {% if request.user.perfil.rol == 'administrador' %}
            <a href="{% url 'curso:crear_curso' %}" class="btn btn-success mb-3">Crear Curso</a>
        {% endif %}
    {% endif %}
    <div class="row">
        {% for curso in cursos %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ curso.nombre }}</h5>
                        <p class="card-text">{{ curso.sala|truncatechars:100 }}</p>
                        <a href="{% url 'curso:detalle_curso' curso.pk %}" class="btn btn-primary">Ver Detalles</a>
                        {% if request.user.perfil.rol == 'profesor' or request.user.perfil.rol == 'administrador' %}
                            <a href="{% url 'asistencia:lista_fechas_asistencia' curso.id %}" class="btn btn-primary mt-2">Ver Asistencia</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No hay cursos disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}