{% extends 'base.html' %}

{% block title %}Crear Evaluación{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">Crear Nueva Evaluación</h2>

    <form method="post">
        {% csrf_token %}
        
        <!-- Nombre -->
        <div class="mb-4">
            <label for="id_nombre" class="form-label">Nombre:</label>
            {{ form.nombre.errors }}
            <div class="input-group">
                {{ form.nombre }}
            </div>
        </div>

        <!-- Descripción -->
        <div class="mb-4">
            <label for="id_descripcion" class="form-label">Descripción:</label>
            {{ form.descripcion.errors }}
            <div class="input-group">
                {{ form.descripcion }}
            </div>
        </div>

        <!-- Fecha -->
        <div class="mb-4">
            <label for="id_fecha" class="form-label">Fecha:</label>
            {{ form.fecha.errors }}
            <div class="input-group">
                {{ form.fecha }}
            </div>
        </div>

        <!-- Asignatura -->
        <div class="mb-4">
            <label for="id_asignatura" class="form-label">Asignatura:</label>
            {{ form.asignatura.errors }}
            <div class="input-group">
                {{ form.asignatura }}
            </div>
        </div>

        <!-- Botón de Enviar -->
        <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg mt-4">Crear Evaluación</button>
        </div>
    </form>

    <!-- Botón para Volver a Asignatura -->
    <div class="text-center mt-4">
        <a href="{% url 'asignatura:detalle_asignatura' pk=form.asignatura.value %}" class="btn btn-secondary btn-lg">
            Volver a Asignatura
        </a>
    </div>
</div>
{% endblock %}
