{% extends 'base.html' %}

{% block title %}Detalles de {{ evaluacion.nombre }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ evaluacion.nombre }}</h2>
            <p>Descripción: {{ evaluacion.descripcion }}</p>
            <p>Fecha: {{ evaluacion.fecha }}</p>
            <p>Asignatura: {{ evaluacion.asignatura.nombre }}</p>
            
            <hr>
            <a href="{% url 'asignatura:detalle_asignatura' evaluacion.asignatura.pk %}" class="btn btn-secondary">Volver a Asignatura</a>
            <a href="{% url 'evaluacion:editar_evaluacion' evaluacion.pk %}" class="btn btn-warning">Editar Evaluación</a>
            <a href="{% url 'curso:detalle_curso' curso.id %}" class="btn btn-secondary">Volver al Curso</a>
        </div>
    </div>
</div>
{% endblock %}
