{% extends 'base.html' %}

{% block title %}{{ evaluacion.nombre }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ evaluacion.nombre }}</h2>
    <hr>
    <p>{{ evaluacion.descripcion }}</p>
    <p>{{ evaluacion.fecha }}</p>
    <p>{{ evaluacion.asignatura }}</p>

    {% if request.user.is_authenticated and request.user.perfil.rol == 'administrador' %}
        <a href="{% url 'evaluacion:editar_evaluacion' evaluacion.pk %}" class="btn btn-secondary">Editar Evaluacion</a>
    {% endif %}

    <a href="{% url 'evaluacion:lista_evaluaciones' %}" class="btn btn-link mt-3">Volver a la Lista de Evaluacion</a>
</div>
{% endblock %}