{% extends 'base.html' %}

{% block title %}Editar Evaluación{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">Editar Evaluación</h2>

    <form method="post">
        {% csrf_token %}
        
        <!-- Mostrar errores no relacionados a campos específicos -->
        {{ form.non_field_errors }}
        
        <!-- Nombre -->
        <div class="form-group mb-4">
            <label for="id_nombre" class="form-label">Nombre:</label>
            <div class="input-group">
                {{ form.nombre.errors }}
                {{ form.nombre }}
            </div>
        </div>

        <!-- Descripción -->
        <div class="form-group mb-4">
            <label for="id_descripcion" class="form-label">Descripción:</label>
            <div class="input-group">
                {{ form.descripcion.errors }}
                {{ form.descripcion }}
            </div>
        </div>

        <!-- Fecha -->
        <div class="form-group mb-4">
            <label for="id_fecha" class="form-label">Fecha:</label>
            <div class="input-group">
                {{ form.fecha.errors }}
                {{ form.fecha }}
            </div>
        </div>

        <!-- Asignatura -->
        <div class="form-group mb-4">
            <label for="id_asignatura" class="form-label">Asignatura:</label>
            <div class="input-group">
                {{ form.asignatura.errors }}
                {{ form.asignatura }}
            </div>
        </div>

        <!-- Botón de guardar cambios -->
        <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg mt-4">Guardar Cambios</button>
        </div>
    </form>

    <div class="text-center mt-3">
        <a href="{% url 'evaluacion:detalle_evaluacion' pk=evaluacion.pk %}" class="btn btn-secondary">Volver a Evaluación</a>
    </div>
</div>
{% endblock %}
