{% extends 'base.html' %}

{% block title %}Crear Asignatura{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Crear Nuevo Asignatura</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="id_titulo">Nombre:</label>
            {{ form.nombre.errors }}
            {{ form.nombre }}
        </div>
        <div class="form-group">
            <label for="id_curso">Curso:</label>
            {{ form.curso.errors }}
            {{ form.curso }} 
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>
{% endblock %}