{% extends 'base.html' %}

{% block title %}Detalles de {{ asignatura.nombre }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ asignatura.nombre }}</h2>
            <p><strong>Curso:</strong> {{ asignatura.curso.nombre }}</p>
            <p><strong>Profesor:</strong> {{ asignatura.profesor.perfil.nombre }}</p>
            <p><strong>Correo del Profesor:</strong> {{ asignatura.profesor.perfil.user.email }}</p>
            <hr>

            <h5>Evaluaciones</h5>
            {% if evaluaciones %}
                <ul class="list-group">
                    {% for evaluacion in evaluaciones %}
                        <li class="list-group-item">
                            <h5>{{ evaluacion.nombre }}</h5>
                            <p><strong>Descripción:</strong> {{ evaluacion.descripcion }}</p>
                            <p><strong>Fecha:</strong> {{ evaluacion.fecha }}</p>
                            {% if request.user.is_authenticated and request.user.perfil.rol == 'administrador' or request.user.perfil.rol == 'profesor' %}
                            <a href="{% url 'evaluacion:detalle_evaluacion' evaluacion.pk %}" class="btn btn-primary">Ver Detalles</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay evaluaciones disponibles para esta asignatura.</p>
            {% endif %}
            <hr>
            {% if request.user.is_authenticated and request.user.perfil.rol == 'administrador' or request.user.perfil.rol == 'profesor' %}
            <a href="{% url 'evaluacion:crear_evaluacion' %}?asignatura_id={{ asignatura.id }}" class="btn btn-success">Añadir Evaluación</a>
            {% endif %}
            <hr>
            {% if request.user.is_authenticated and request.user.perfil.rol == 'administrador' %}
            <a href="{% url 'asignatura:editar_asignatura' asignatura.pk %}" class="btn btn-warning">Editar Asignatura</a>
            <hr>
            <a href="{% url 'asignatura:lista_asignaturas_curso' curso.id %}" class="btn btn-secondary">Volver a la Lista de Asignaturas del Curso</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
