{% extends 'base.html' %}

{% block title %}Editar Asignatura{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center text-primary mb-4">Editar Asignatura</h2>
    
    <form method="post">
        {% csrf_token %}
        
        <!-- Errores generales -->
        {{ form.non_field_errors }}
        
        <!-- Campo nombre -->
        <div class="form-group mb-3">
            <label for="id_nombre">Nombre:</label>
            {{ form.nombre.errors }}
            {{ form.nombre }}
        </div>

        <!-- Campo curso -->
        <div class="form-group mb-3">
            <label for="id_curso" class="form-label">Curso:</label>
            {{ form.curso.errors }}
            {{ form.curso }}
        </div>

        <!-- Campo profesor -->
        <div class="form-group mb-3">
            <label for="id_profesor" class="form-label">Profesor:</label>
            {{ form.profesor.errors }}
            {{ form.profesor }}
        </div>

        <!-- Botón para guardar cambios -->
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success btn-lg">Guardar Cambios</button>
        </div>
    </form>
</div>
{% endblock %}
