{% extends 'base.html' %}

{% block title %}Asignatura{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Asignaturas</h2>
    {% if request.user.is_authenticated %}
        {% if request.user.perfil.rol == 'administrador' %}
            <a href="{% url 'asignatura:crear_asignatura' %}" class="btn btn-success mb-3">Crear Asignatura </a>
        {% endif %}
    {% endif %}
    {% for asignatura in asignaturas %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ asignatura.nombre }}</h5>
                <p>{{ asignatura.curso }}</p>
                <a href="{% url 'asignatura:detalle_asignatura' asignatura.pk %}" class="btn btn-primary">editar</a>
            </div>
        </div>
    {% empty %}
        <p>No hay asignaturas disponibles.</p>
    {% endfor %}
    {{ request.user.perfil.rol }}
</div>
{% endblock %}