{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h2>Asistencia de la asignatura: {{ asignatura.nombre }}</h2>
  {% if request.user.is_authenticated and request.user.perfil.rol == 'profesor' or request.user.perfil.rol == 'administrador' %}
    <a href="{% url 'asistencia:crear_asistencia' asignatura_id=asignatura.id %}" class="btn btn-success mb-3">Agregar Asistencia</a>
  {% endif %}

  <h3>Fechas de asistencia registradas</h3>
  {% if asistencias_por_fecha %}
  <!-- Formulario de Filtro por Fecha -->
  <form method="get" action="{% url 'asistencia:lista_fechas_asistencia' asignatura_id=asignatura.id %}" class="mb-3">
    <label for="fecha">Filtrar por Fecha:</label>
    <input type="date" id="fecha" name="fecha" value="{{ fecha_filtro }}">
    <button type="submit" class="btn btn-primary">Filtrar</button>
  </form>
    {% for fecha, asistencias in asistencias_por_fecha.items %}
      <div class="card mb-3">
        <div class="card-header">
          <h4 class="card-title">Fecha: {{ fecha }}</h4>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Alumno</th>
                <th>Asistencia</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              {% for asistencia in asistencias %}
                <tr>
                  <td>{{ asistencia.alumno }}</td>
                  <td>{% if asistencia.asistio %}Presente{% else %}Ausente{% endif %}</td>
                  <td><a href="{% url 'asistencia:editar_asistencia' pk=asistencia.pk %}" class="btn btn-warning btn-sm">Editar</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No se han registrado asistencias para esta asignatura.</p>
  {% endif %}
</div>
{% endblock %}
