{% extends 'base.html' %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="text-center mb-4">
      <h2 class="display-4">Cambiar Contraseña</h2>
      <p class="lead">Actualiza tu contraseña con los siguientes campos.</p>
    </div>

    <div class="card shadow-sm">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          <!-- Contraseña Actual -->
          <div class="form-group">
            <label for="id_password_actual">Contraseña Actual:</label>
            {{ contraseña_form.password_actual.errors }}
            {{ contraseña_form.password_actual}}
          </div>

          <!-- Nueva Contraseña -->
          <div class="form-group">
            <label for="id_nueva_password">Nueva Contraseña:</label>
            {{ contraseña_form.nueva_password.errors }}
            {{ contraseña_form.nueva_password}}
          </div>

          <!-- Confirmar Nueva Contraseña -->
          <div class="form-group">
            <label for="id_confirmar_password">Confirmar Nueva Contraseña:</label>
            {{ contraseña_form.confirmar_password.errors }}
            {{ contraseña_form.confirmar_password}}
          </div>

          <!-- Botones -->
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-lg btn-block mb-3">Guardar Cambios</button>
            <a href="{% url 'usuarios:editar_perfil' %}" class="btn btn-secondary btn-lg btn-block">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
