{% extends 'base.html' %}

{% load form_tags %}

{% block title %}Crear Profesor{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Crear Profesor</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Crear Profesor</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
