{% extends 'base.html' %}

{% block title %}Detalles de Usuario{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Detalles de Usuario: {{ perfil.nombre }}</h2>
    
    <div class="card mb-3">
        <div class="card-header">
            Información del Perfil
        </div>
        <div class="card-body">
            <p><strong>RUT:</strong> {{ perfil.rut }}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{ perfil.fecha_nacimiento }}</p>
            <p><strong>Edad:</strong> {{ edad }} años</p>
            <p><strong>Sexo:</strong> {{ perfil.sexo }}</p>
        </div>
    </div>

    {% if administrador %}
    <div class="card mb-3">
        <div class="card-header">
            Rol: Administrador
        </div>
        <div class="card-body">
            <p><strong>Cargo:</strong> {{ administrador.cargo }}</p>
            <a href="{% url 'usuarios:editar_administrador' perfil.id %}" class="btn btn-primary">Editar Administrador</a>
        </div>
    </div>
    {% endif %}

    {% if apoderado %}
    <div class="card mb-3">
        <div class="card-header">
            Rol: Apoderado
        </div>
        <div class="card-body">
            <p><strong>Teléfono:</strong> {{ apoderado.telefono }}</p>
            <a href="{% url 'usuarios:editar_apoderado' perfil.id %}" class="btn btn-primary">Editar Apoderado</a>
        </div>
    </div>
    {% endif %}

    {% if alumno %}
    <div class="card mb-3">
        <div class="card-header">
            Rol: Alumno
        </div>
        <div class="card-body">
            <p><strong>Curso:</strong> {{ alumno.curso }}</p>
            <p><strong>Apoderado:</strong> {{ alumno.apoderado.perfil.nombre }}</p>
            <a href="{% url 'usuarios:editar_alumno' perfil.id %}" class="btn btn-primary">Cambiar apoderado</a>
        </div>
    </div>
    {% endif %}

    {% if profesor %}
    <div class="card mb-3">
        <div class="card-header">
            Rol: Profesor
        </div>
        <div class="card-body">
            <p><strong>Especialidad:</strong> {{ profesor.especialidad }}</p>
            <a href="{% url 'usuarios:editar_profesor' perfil.id %}" class="btn btn-primary">Editar Profesor</a>
        </div>
    </div>
    {% endif %}

    <a href="{% url 'usuarios:lista_usuarios' %}" class="btn btn-secondary">Volver a la lista de usuarios</a>
    <a href="{% url 'usuarios:borrar_usuario' perfil.id %}" class="btn btn-danger">Borrar Usuario</a>
</div>
{% endblock %}
