{% extends 'base.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="text-center mb-4">
      <h2 class="display-4">Editar Perfil</h2>
      <p class="lead">Selecciona la opción que deseas editar:</p>
    </div>

    <div class="card shadow-sm">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          
          <!-- Botones de acción -->
          <div class="form-group text-center">
            <button type="submit" name="editar_foto" class="btn btn-primary btn-lg btn-block mb-3">Editar Foto de Perfil</button>
            <button type="submit" name="editar_correo" class="btn btn-primary btn-lg btn-block mb-3">Editar Correo Electrónico</button>
            <button type="submit" name="cambiar_contraseña" class="btn btn-primary btn-lg btn-block mb-3">Cambiar Contraseña</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
{% endblock %}
