{% extends 'base.html' %}

{% block title %}Menú Alumno{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Bienvenido, {{ usuario.perfil.nombre }} (Alumno)</h2>

    <div class="text-center mb-4">
        {% if alumno %}
            <a href="{% url 'usuarios:detalle_alumno' alumno.id %}" class="btn btn-info btn-lg">Ver mis detalles</a>
        {% else %}
            <p>No se ha encontrado un alumno asociado a este usuario.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
