{% extends 'base.html' %}

{% block title %}Calificaciones{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Calificaciones</h2>
    {% if request.user.is_authenticated %}
        {% if request.user.perfil.rol == 'administrador' %}
            <a href="{% url 'calificacion:crear_calificacion' %}" class="btn btn-success mb-3">Crear Calificacion </a>
        {% endif %}
    {% endif %}
    {% for calificacion in calificaciones %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ calificacion.calificacion }}</h5>
                <p>{{ calificacion.asignatura }}</p>
                <a href="{% url 'calificacion:detalle_calificacion' calificacion.pk %}" class="btn btn-primary">editar</a>
            </div>
        </div>
    {% empty %}
        <p>No hay calificaciones disponibles.</p>
    {% endfor %}
    {{ request.user.perfil.rol }}
</div>
{% endblock %}