{% extends 'base.html' %}

{% block title %}Crear Jefatura{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">Crear Jefatura</h2>

    <form method="post">
        {% csrf_token %}
        
        <div class="card shadow-sm">
            <div class="card-body">
                <!-- Cursos -->
                <div class="form-group mb-4">
                    <label for="id_curso" class="form-label">Curso:</label>
                    <div class="input-group">
                        {{ form.curso.errors }}
                        {{ form.curso }}
                    </div>
                </div>

                <!-- Profesores -->
                <div class="form-group mb-4">
                    <label for="id_profesor" class="form-label">Profesor:</label>
                    <div class="input-group">
                        {{ form.profesor.errors }}
                        {{ form.profesor }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Botón de envío -->
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success btn-lg">Crear Jefatura</button>
        </div>
    </form>
</div>
{% endblock %}
