{% extends 'base.html' %}

{% block title %}Editar Jefatura{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Editar Jefatura</h2>
    <form method="post" class="bg-light p-4 rounded shadow-sm">
        {% csrf_token %}
        
        <!-- Mostrar errores generales del formulario -->
        <div class="mb-3">
            {{ form.non_field_errors }}
        </div>

        {% if form.instance.curso %}
            <input type="hidden" name="curso_id" value="{{ form.instance.curso.id }}">
        {% endif %}
        
        <!-- Campo para el curso -->
        <div class="form-group mb-3">
            <label for="id_curso" class="form-label">Curso:</label>
            {{ form.curso.errors }}
            <div class="input-group">
                {{ form.curso }}
            </div>
        </div>
        
        <!-- Campo para el profesor -->
        <div class="form-group mb-3">
            <label for="id_profesor" class="form-label">Profesor:</label>
            {{ form.profesor.errors }}
            <div class="input-group">
                {{ form.profesor }}
            </div>
        </div>
        
        <!-- Botón de guardar -->
        <button type="submit" class="btn btn-success btn-lg w-100">Guardar Cambios</button>
        <a href="{% url 'jefatura:lista_jefaturas' %}" class="btn btn-secondary btn-lg w-100 mt-3">Cancelar</a>
        
    </form>
</div>
{% endblock %}
